<div class="container width100">
  <div class="row">
    <div class="col-xs-12 noP">
      <h5 class="auxiliar-action-title">{{textTitle}}</h5>
    </div>
  </div>
</div>
<div class="container " [style.width.%]="80" [style.margin-top.px]="100">
  <div class="row">
    <!-- <div class="col-xs-12 noP txtCenter">
      <i class="material-icons" [ngClass]="setClassIcon()">{{materialIcon}}</i>
    </div> -->
    <div class="col-xs-12 noP">
      <h4 class="txtCenter">
        {{textQuestion}}
      </h4>
    </div>
  </div>
  <div class="button-bottom">
    <div *ngFor="let buttonAction of confirmActions" class="{{buttonAction.class}} noP">
      <button md-raised-button class="width100" (click)="buttonAction.actionClick()">{{buttonAction.text}}</button>
    </div>
  </div>
</div>