.inputOffline{
    height: 35px;
}

.botonOffline{
    margin-bottom: -11px;
    height: auto;
}

.textoOffline{
    border: 0;
    font-size: 1.4em;
    margin: 0 0 0;
    text-transform: uppercase;
    color: #333333 !important;
}

#bloqueInicialOffline{
    margin-bottom: -16px;
}

#botonFinalOffline{
    opacity: 1 !important;
}