.categoriasName{
    font-size: 16px;
    margin-top: 40px;
}

.radioButt{
    width:23px;
    height:23px;
}

.inputHora{
    width: 162px;
    font-size: 20px;
    height: 54px;
} 

.divRadio1{
    position: absolute;
    top: 12px;
    left: 46px;
}