<form #operatorForm novalidate (ngSubmit)="searchOperator()">  
  <h5 class="auxiliar-action-title">{{getLiteral('operator_component', 'header_Operator')}}</h5>
  <div class="col-xs-12">
    <input
      tpvKeyboard
      (enter)="searchOperator()"
      class="form-control"
      name="operator"
      type="password"
      [(ngModel)]="textToSearch"
      required
      #operator
      placeholder="{{getLiteral('operator_component', 'placeHolder_Operator')}}"
      autofocus="autofocus">
  </div>
  <div class="col-xs-12 txt-error">{{message}}</div>
</form>
<!-- (enter)="searchOperator()" 
      (keydown.enter)="searchOperator()"  
-->