<div>
  <h5 class="auxiliar-action-title">VISTA PREVIA</h5>
  <div class="col-md-12">
    <div class="col-md-6 izq">Nº Documento</div>
    <div class="txtRight der col-md-6">{{documento.DocumentId}}</div>
    <div class="col-md-6 izq">Cliente</div>
    <div class="txtRight der col-md-6">{{documento.customer.businessName}}</div>
    <div class="col-md-6 izq">Fecha y Hora</div>
    <div class="txtRight der col-md-6">{{documento.emissionUTCDateTime}}</div>
  </div>
  <div class="divOverflow">
    <table class="table">
      <thead>
        <tr>
          <th class="txtLeft">Cant.</th>
          <th class="txtLeft">Desc.</th>
          <th class="txtLeft">PVP</th>
          <th class="txtLeft">%</th>
          <th class="txtRight">{{simbol}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let line of documento.lines; let i = index;">
        <tr class="lin">
          <td class="txtLeft">{{ line.quantity }}</td>
          <td class="txtLeft">{{ line.description }}</td>
          <td class="txtLeft">{{ line.priceWithTax }}</td>
          <td class="txtLeft">{{ line.discountPercentage }}</td>
          <td class="txtRight">{{ line.totalAmountWithTax }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Summary -->
  <section class="summary">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6 total">
      <h4>Total</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6 ammount txtRight">
      <h4>{{documento.totalAmountWithTax }}{{simbol}}</h4>
    </div>
  </section>
  <div class="button-bottom">
    <button md-raised-button color="primary1" (click)="volver()" class="col-xs-6">Volver</button>
    <button md-raised-button color="primary1" (click)="emitirCopiaTicket()" class="col-xs-6">Imprimir</button>
  </div>
</div>
